@charset 'utf-8';
@import '_common.scss';

body{ transition: background-color 1000ms linear;}
.detail{ @include detail(#0088e7); }
.contit{ @include contit(#0088e7); }

.start{
    figcaption{ @include font(65px, 400);}
}

.row1{
    width: 100%; overflow-x: hidden;
    padding-bottom: 100px;
    @include bgimg('../img/market_bg1.jpg');
    .line1{
        @include conWid(0);
        white-space: pre-line;
        line-height: 1.5;
        h2{ @include font(30px, 600); 
            > b{ @include font(30px, 600); color: #0088e7; }
        }
        p{ @include font(15px, 300);
            > b{ @include font(15px, 500); }
        }
    }
    div{
        width: 90%; margin: 50px 0 0 30%;
        img{ width: 100%;}
    }
}

.row2{
    figure{ width: 100%; img{width: 100%} }
    .contit{
        width: 30%; margin-left: 25%;
        padding: 50px 0 20px 0;
        p{ padding-top: 20px;}
    }
    .line2{
        width: 50%; margin: 0 auto;
        position: relative;
        li:nth-of-type(1){ 
            box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
            background: #333333; border-radius: 20px;
            width: 250px; height: 450px;
            overflow: hidden;
            position: absolute; right: 0; top: -80%;
            padding: 5px;
            > p{  width: 100%; height: 100%; margin: 0 auto;
                border-radius: 15px; overflow: hidden;
                img{width: 100%; margin: 0 auto;
                }
            }
        }
        li:nth-of-type(2){ 
            box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
            background: #333333; border-radius: 20px;
            width: 100%; height: 600px;
            overflow: hidden;
            padding: 5px;
            > p{  width: 100%; height: 100%;
                border-radius: 15px; overflow: hidden;
                img{width: 100%;}
            }
        }
    }
}
.row3{
    @include bgimg('../img/market_bg2.png');
    padding: 130px 0 100px 0;
    width: 100%;
    .line3{
        @include flex();
        li:nth-of-type(1){ 
            box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
            margin-left: -10%;
            background: #333333; border-radius: 20px;
            width: 50%; height: 600px; padding: 5px;
            overflow: hidden;
            > p{  width: 100%; height: 590px;
                border-radius: 15px; overflow: hidden;
                img{width: 100%;}
            }
        }
        li:nth-of-type(2){ 
            box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
            background: #333333; border-radius: 20px;
            width: 250px; height: 450px;
            overflow: hidden;
            > p{  width: 240px; height: 440px; margin: 5px auto;
                border-radius: 15px; overflow: hidden;
                img{width: 100%; margin: 0 auto;}
            }
        }
        .contit{
            width: 35%; padding-right: 10%;
        }
    }
}


.row4{
    width: 100%; height: 80vh;
    @include bgimg('../img/market_img7.jpg');
    background-attachment:fixed;
}

.row5{
    @include conWid();
    > div{ width: 100%; img{width: 100%;}}
    .line4{
        li{ width: 100%; margin: 30px 0;
            position: relative;
            p:nth-of-type(1){
                width: 100%; img{ width: 100%;}
            }
            p:nth-of-type(2){ animation: store 2s infinite alternate; }
            p:nth-of-type(3){ animation: store 2s infinite alternate; }
            @keyframes store {
                0%{ opacity: 0;}
                100%{ opacity: 1;}
            }
        }
        li:nth-of-type(1){
            p:nth-of-type(2){
                position: absolute; left: 0; top: 0;
                width: 32%;
                img{ width: 100%;}
            }
            p:nth-of-type(3){
                position: absolute; right: 0; top: 0;
                width: 32%;
                animation-delay: 1.8s;
                img{ width: 100%;}
            }
        }
        li:nth-of-type(2){
            p:nth-of-type(2){
                position: absolute; right: 50%; top: 0;
                transform: translateX(50%);
                animation-delay: 1.3s;
                width: 32%;
                img{ width: 100%;}
            }
            p:nth-of-type(3){
                position: absolute; right: 0; top: 0;
                animation-delay: 2s;
                width: 32%;
                img{ width: 100%;}
            }
        }
    }
    .contit{
        width: 100%; margin: 0 auto; padding-top: 40px;
        display: block;
        p{ padding-top: 20px;}
    }
}

.row6{
    overflow-x: hidden;
    .line5{ // 뉴스 스와이프
        @include conWid();
        @include flex(flex-start, space-between);
        width: 70%;
        div{ width: 45%;
            position: relative;
            p:nth-of-type(1){
                img{ width: 100%;}
            }
            p:nth-of-type(2){
                position: absolute; left: 40px; bottom: 26%;
                height: 30%;
                img{ height: 100%;}
            }
            span{
                width: 84%; height: 4px;
                background: rgb(203, 203, 203);
                position: absolute; left: 40px; bottom: 23%;
                &:nth-of-type(2){
                    background: #0088e7;
                    width: 10%;
                }
            }
        }
        .contit{ width: 50%;
            padding: 100px 0 0 0;
            p{ padding-top: 20px}
        }
    }
}

.row7{
    @include bgimg('../img/market_bg3.jpg');
    padding-bottom: 130px;
    margin-bottom: 100px;
    .line6{
        @include conWid();
        @include flex();
        height: 60vh;
        .contit{
            width: 35%;
            p{ padding-top: 20px;}
        }
        .mark{
            width: 60%; height: 60vh;
            position: relative;
            img{ width: 100%;}
            p{ box-shadow: 5px 5px 15px rgba(0,0,0,0.3); border-radius: 50%; opacity: 0; transform: translateY(40px); transition: .5s;}
            p:nth-of-type(1){  position: absolute; left: 15%; top: 70%; width: 160px;}
            p:nth-of-type(2){  position: absolute; left: 85%; top: 0%; width: 170px; transition-delay: .1s;}
            p:nth-of-type(3){  position: absolute; left: 65%; top: 10%; width: 100px; transition-delay: .3s;}
            p:nth-of-type(4){  position: absolute; left: 50%; top: 70%; width: 130px; transition-delay: .6s;}
            p:nth-of-type(5){  position: absolute; left: 75%; top: 45%; width: 200px; transition-delay: .4s;}
            p:nth-of-type(6){  position: absolute; left: 35%; top: 30%; width: 160px; transition-delay: .5s;}
        }
    }

    
}


footer{
    @include nextFooter('../img/star_main2.jpg');
}


@media(max-width: $pc){
    .start figcaption{ font-size: 60px;}
    .detail{ width: 80%; margin-bottom: 100px;}
    .row2{
        margin-top: 50px;
        figure{ width: 100%; img{width: 100%} }
        .contit{
            width: 60%; margin: 0;
            padding: 50px 0 20px 15%;
        }
        .line2{
            width: 75%; margin: 0 auto;
        }
    }
    .row3 .line3{
        li:nth-of-type(1){ margin-left: -25%; width: 55%; }
        .contit{ width: 40%; margin-top: -20px; }
    }
    .row6 .line5{
        .contit{ width: 50%;
            padding: 30px 0;
        }
    }
}

@media(max-width: $tab){
    .start {
        width: 100%; height: 70vh;
        p{ width: 80%; height: 65vh; padding-top: 10vh; }
        figcaption{
            @include font(50px, 400);
            transform: translate(-50%,-20%);
            -webkit-text-stroke: 1.5px white;
        }
    }
    .detail{ margin-bottom: 10vh;  display: block;
        .left{  width: 100%;
            h2{ @include font(35px, 500);}
            ul{ width: 100%; @include flex( flex-start, flex-start); }
        }
        .right{ white-space: inherit; height: auto;
            width: 100%; margin-top: 3vh;
            div:nth-of-type(2){ @include flex( center, space-between); margin-top: 3vh;
                a{ width: 45%; margin-right: 0; }
            }
        }
    }
    .row1 div{
        width: 140%; margin: 10px 0 0 30%;
    }
    .row2{
        .contit{
            width: 55%; margin: 0;
            padding: 50px 0 20px 12%;
        }
        .line2{
            width: 80%; margin: 0 auto;
            li:nth-of-type(2){ 
                width: 100%; height: 500px; 
            }
            li:nth-of-type(1){ 
                width: 30%; height: 30vh;
                overflow: hidden;
                position: absolute; right: 0; top: -85%;
            }
        }
    }
    .row3{
        padding: 80px 0 60px 0;
        width: 100%;
        .line3{
            @include flex();
            li:nth-of-type(1){ 
                height: 450px;
                margin-left: -35%;
                > p{  width: 100%; height: 440px; }
            }
            li:nth-of-type(2){ 
                width: 180px; height: 350px;
                > p{  width: 170px; height: 340px;}
            }
            .contit{
                padding-right: 10%;
                width: 50%; margin-top: -30px;
            }
        }
    }
    .row4{ width: 100%; height: 50vh; }
    .row5{
        padding-top: 80px;
        > div{ width: 100%; img{width: 100%;}}
        .contit{ padding-top: 20px; }
    }
    .row6 .line5{
        padding-top: 80px; width: 80%;  display: block;
        div{ width: 45%;
            p:nth-of-type(2){ height: 31%; }
            span{
                width: 84%; height: 3px;
                left: 23px; bottom: 23%;
            }
        }
        .contit{ width: 100%;  padding-top: 40px; }
    }
    .row7{
        padding-bottom: 50px;
        margin-bottom: 80px;
        .line6{
            padding-top: 80px;
            width: 80%;
            @include flex();
            height: 40vh;
            .contit{
                width: 40%;
                p{ padding-top: 20px;}
            }
            .mark{
                width: 60%; height: 40vh;
                p:nth-of-type(1){ right: 5%; top: 70%; width: 18%;}
                p:nth-of-type(2){ right: 0%; top: 0%; width: 16%;}
                p:nth-of-type(3){ right: 30%; top: 17%; width: 23% }
                p:nth-of-type(4){ right: 12%; top: 70%; width: 25%}
                p:nth-of-type(5){ right: 7%; top: 40%; width: 38%;}
                p:nth-of-type(6){ right: 23%; top: 40%; width: 20%;}
            }
        } 
    }
    footer{
        width: 100%; height: 250px;
        a article{
            small{ @include font(18px, 300); }
            h2{ @include font(40px, 400);
                padding-bottom: 20px;
            }
            .timebar{ display: none; }
        }
    }
}
@media(max-width: 800px){
    .row2{
        .line2{
            li:nth-of-type(1){ 
                width: 30%; height: 35vh;
                position: absolute; right: 0; top: -75%;
            }
        }
    }
}

@media(max-width: $mobile){
    .start {
        width: 100%; height: 70vh;
        p{ width: 80%; height: 65vh; padding-top: 10vh; }
        figcaption{
            @include font(30px, 400);
            transform: translate(-50%,-20%);
            -webkit-text-stroke: 1px white;
        }
    }
    .detail{ margin-bottom: 10vh;  display: block;
        .left{  width: 100%;
            h2{ @include font(20px, 500);}
            small{ @include font(13px, 400);
                display: block; width: 100%;
                margin-left: 0;
            }
            ul{ 
                li{ @include font(11px, 300); }
                li:nth-of-type(1){ padding-right: 20px; }
                li:nth-of-type(2){
                    b{ @include font(11px, 300);}
                }
            }
        }
        .right{
            div:nth-of-type(1){  @include font(11px, 300); 
                b{ @include font(11px, 300);}
            }
            div:nth-of-type(2){ @include flex( center, space-between); margin-top: 3vh;
                a{ padding: 5px 0; width: 47%;
                    @include font(10px, 300);
                }
            }
        }
    }
    .contit{
        h2{@include font(15px, 600); }
        p{ @include font(10px, 300);
            b{ @include font(10px, 300); }
        } 
    }
    .row1{
        padding-bottom: 0px;
        .line1{
            white-space: initial;
            h2{@include font(15px, 600); 
                b{ @include font(15px, 600); }
            }
            p{ padding-top: 10px;
                @include font(10px, 300);
                b{ @include font(10px, 300); }
            } 
        }
        div{ width: 200%; margin-top: 30px;}
    }
    .row2{
        .contit{
            width: 75%; margin: 0 auto;
            padding: 20px 0;
            p{ padding-top: 10px;}
        }
        .line2{
            width: 80%; margin: 0 auto;
            li:nth-of-type(1){ display: none;}
            li:nth-of-type(2){ 
                width: 100%; height: 200px; 
                border-radius: 10px;
                padding: 5px;
                > p{  width: 100%; height: 100%;
                    border-radius: 10px;
                }
            }
        }
    }
    .row3{
        background-image: none;
        padding: 60px 0;
        width: 100%;
        .line3{
            @include flex();
            li:nth-of-type(1){ 
                height: 200px;
                margin-left: -15%;
                border-radius: 10px;
                > p{  width: 100%; height: 100%; 
                    border-radius: 10px;
                }
            }
            li:nth-of-type(2){ display: none;}
            .contit{
                padding-right: 10%;
                width: 50%; margin-top: 0;
            }
        }
    }
    .row4{ width: 100%; height: 50vh; }
    .row5{
        padding-top: 40px;
        > div{ width: 100%; img{width: 100%;}}
        .contit{ padding-top: 0; 
            p{padding-top: 10px;}
        }
    }
    .row6 .line5{
        padding-top: 60px; width: 80%;  display: block;
        div{ width: 45%;
            p:nth-of-type(2){ height: 31%; }
            span{
                width: 84%; height: 2px;
                left: 14px; bottom: 23%;
            }
        }
        .contit{ width: 100%;  padding-top: 20px; 
            p{padding-top: 10px;}
        }
    }
    .row7{
        padding-bottom: 0;
        margin-bottom: 40px;
        .line6{
            padding-top: 0;
            width: 80%;
            @include flex();
            height: 25vh;
            .contit{
                width: 100%;
                p{ padding-top: 10px;}
            }
            .mark{ display: none; }
        } 
    }
    footer{ height: 150px;
        a article{
            small{ @include font(10px, 300); }
            h2{ @include font(25px, 400);
                padding-bottom: 0;
                white-space: nowrap;
            }
        }
    }
}