@charset 'utf-8';
@import '_common.scss';

@mixin blackbg ($height: 100vh){
    content: ''; display: block; width: 100%; height: $height;
    position: absolute; left: 0; top: 0;
    background-color: rgba(0,0,0,0.5);
}


header{
    .h{
        & > div:nth-of-type(1){
            .burger{
                span{ background-color: white !important;} 
            }
            .logo{ background-image : url('../img/logo2.png') !important; }
        }
    }
}
.mail{ 
    div{ opacity: .5; transition: .5s;
        a{
            p{ color: white !important;}
            figure{ background-image : url('../img/icon_contact2.png') !important; transition: .5s;}
        }
        &:hover{ opacity: 1;}
        &:hover a figure{ background-image : url('../img/icon_mail2.png') !important;  }
    }
}

.con1{ @include bgimg('../img/pixar_main.jpg');
    &::before{ @include blackbg(90vh)};
}
.con2{ @include bgimg('../img/pizza_main.jpg');
    &::before{ @include blackbg(45vh)};
}
.con3{ @include bgimg('../img/market_main.jpg'); 
    &::before{ @include blackbg(45vh)};
}
.con4{ @include bgimg('../img/star_main.jpg'); 
    &::before{ @include blackbg(50vh)};
}
.con5{ @include bgimg('../img/design_main.jpg'); 
    &::before{ @include blackbg(50vh)};
}

.list{
    @include flex();  background: black;
    .con{ position: relative; cursor: pointer;
        display: block;
        &::before{transition: .5s;}
        &:hover::before{ content: ''; display: block; background-color: rgba(0,0,0,0.8); }
        &:hover article{ transform: translateY(-20px);}

        article{
            position: absolute; left: 5%; bottom: 27%; transition: 1s;
            h2{ @extend %fontEn; @include font( 50px, 400);
                line-height:1; color: white; margin-bottom: 10px;
                text-shadow: 5px 5px 10px rgba(0,0,0,0.5);
                opacity: 0; transition: .5s; 
                white-space: pre-line;
            }
            p{ color: rgb(154, 154, 154); @include font(13px, 400); padding-bottom: 3px; 
                text-shadow: 5px 5px 10px rgba(0,0,0,0.5);
                font-style: italic; opacity: 0; transition: .5s; 
            }
            span{ display: block; display: block; height: 20px; width: 100%;
                padding-right: 30%; overflow: hidden;  opacity: 0; transition: .5s; 
                small{ color: white; @include font(15px, 400); 
                    text-shadow: 5px 5px 10px rgba(0,0,0,0.5);
                    @extend %fontTi; display: block; transition: .5s; 
                    white-space: nowrap;
                }
            }

        }
    }
}
.list1{ min-height: 90vh;
    .con1.active{
        width: 40%; height: 90vh;
        article{ h2{ font-size: 70px !important;}}
    }
    div{
        width: 60%; 
        .con2.active{ width: 100%; height: 45vh; }
        .con3.active{ width: 100%; height: 45vh;}
    }
}
.list2{ min-height: 50vh;
    .con4.active{ width: 55%; height: 50vh; }
    .con5.active{ width: 45%; height: 50vh; }
}

.con{ width: 0; transition: .5s;}

footer{
    @include nextFooter();
    height: 200px;
    > a{
        background-image: none;
        background-color: #111111;
        article{
            small{ @include font(15px, 300); text-shadow: none; }
            h2{  @include font(40px, 400); text-shadow: none; }
        }
    }
}



@media(max-width: $pc){
}

@media(max-width: $tab){
    .con1::before{ @include blackbg(70vh); }
    .con2{ background-position: center center; }
    .con2::before{ @include blackbg(35vh); }
    .con3::before{ @include blackbg(35vh); }
    .con4::before{ @include blackbg(30vh); }
    .con5::before{ @include blackbg(30vh); }
    .list .con{
        article{
            position: absolute; left: 0; bottom: 20%;
            h2{ @include font( 35px, 400); }
            p{ @include font(10px, 400); }
            span{ height: 15px;
                small{  @include font(13px, 400); }
            }

        }
    }
    .list1{ min-height: 70vh;
        .con1.active{ 
            width: 45%; height: 70vh;
            article{ h2{ font-size: 40px !important;}}
        }
        div{
            width: 55%; 
            .con2.active{height: 35vh; }
            .con3.active{height: 35vh;}
        }
    }
    .list2{ min-height: 30vh;
        .con4.active{ height: 30vh; }
        .con5.active{ height: 30vh; }
    }
    footer{
        height: 150px;
        > a{
            article{padding-top: 10px;
                small{ @include font(10px, 300);}
                h2{  @include font(25px, 400);}
                .timebar{display: none;}
            }
        }
    }
}

@media(max-width: $mobile){


    .con1::before{ @include blackbg(28vh); }
    .con2::before{ @include blackbg(18vh); }
    .con3::before{ @include blackbg(18vh); }
    .con4::before{ @include blackbg(18vh); }
    .con5::before{ @include blackbg(18vh); }
    .list{ display: block;
        .con{
            &:hover article{ transform: translate(-50%,-50%);}
            article{
                text-align: center;
                position: absolute; left: 50%; top: 50%;
                transform: translate(-50%,-50%);
                h2{ @include font( 17px, 400); opacity: 1; 
                    white-space: inherit;  margin-bottom: 5px;
                }
                p{ display: none; }
                span{ height: 15px; opacity: 1; padding-right: 0;
                    small{  @include font(8px, 400); color: rgb(202, 202, 202);
                        &:nth-of-type(2){ display: none;}
                    }
                }

            }
        }
    }
    .list1{ min-height: 28vh;
        .con1.active{ 
            width: 100%; height: 28vh;
            article{  top: 65%; h2{ font-size: 20px !important;}}
        }
        div{
            width: 100%; 
            .con2.active{height: 18vh; }
            .con3.active{height: 18vh;}
        }
    }
    .list2{ min-height: 18vh; 
        .con4.active{ height: 18vh; width: 100%;}
        .con5.active{ height: 18vh; width: 100%;}
    }
    footer{
        height: 150px;
        > a{
            article{padding-top: 10px;
                small{ @include font(10px, 300);}
                h2{  @include font(25px, 400);}
                .timebar{display: none;}
            }
        }
    }
    footer{
        height: 80px;
        > a article{
            h2{  @include font(20px, 400);}
        }
    }
}