@charset 'utf-8';
@import '_common.scss';


.start{
    figcaption{ @include font(70px, 400);
        text-shadow: 5px 5px 10px rgba(#ea3b82,0.5);
    }
}

.detail{
    @include detail(#009555);
    .left{
        display: block;
        h2{ @include font(32px, 500);}
        small{ display: block; padding:5px 0 10px 0; margin-left: 0;}
    }
    .right{ padding-top: 30px}
}

.contit{ @include contit(#009555); }




.row1{ @include conWid(0); 
    box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
    margin-bottom: 130px
}

.row2{
    @include bgimg('../img/star_back.jpg');
    padding: 130px 0;
    .line1{
        @include conWid(0);
        div{ width: 100%; height: 0; 
            padding-top : calc(258 / 1874 * 100%);
            border: 20px solid #f1f1f1;
            background-repeat: no-repeat;
            background-position: center top;
            background-size: cover;
            animation: router 3s infinite alternate;
            @keyframes router {
                0%{ background-image: url('../img/star_img1-1.jpg'); }
                30%{ background-image: url('../img/star_img1-2.jpg'); }
                60%{ background-image: url('../img/star_img1-3.jpg'); }
                100%{ background-image: url('../img/star_img1-4.jpg'); }
            }
        }
        .contit{
            width: 90%; margin: 0 auto; padding-top: 40px;
            @include flex(flex-start, space-between);
        }
    }
    .line2{
        @include conWid(); @include flex(flex-start, space-between); 
        .contit{
            padding: 80px 0;
            position: sticky; left: 0; top: 130px;
        }
        > div{
            width: 65%;
            video{ margin: 10px 0;}
        }
    }
    .line3{
        @include conWid(); @include flex();
        div{ width: 65%; }
    }
}
.row3{
    @include bgimg('../img/star_img2.jpg');
    width: 100%; height: 70vh;
    background-attachment:fixed;
    position: relative;
    text-align: center;
    .contit{ 
        position: absolute; left: 50%; top: 50%;
        transform: translate(-50%, -50%);
        width: 100%; text-shadow: 5px 5px 10px rgba(black,0.2);

    }
}

footer{
    @include nextFooter('../img/design_main.jpg');
}


@media(max-width: $pc){
    .start figcaption{ font-size: 60px;}
    .detail{ width: 80%; margin-bottom: 100px;
        .right{ width: 55%;}
    }
    .row2{
        .line1{
            .contit{
                display: block;
                p{ padding-top: 20px;}
            }
        }
        .line2{
            .contit{
                p{ padding-top: 20px;}
            }
        }
        .line3{
            .contit{
                p{ padding-top: 20px;}
            }
        }
    }
    .row3{
        .contit{  width: 50%;  }
    }
}

@media(max-width: $tab){
    .start {
        width: 100%; height: 70vh;
        p{ width: 80%; height: 65vh; padding-top: 10vh; }
        figcaption{
            @include font(50px, 400);
            transform: translate(-50%,-20%);
            -webkit-text-stroke: 1.5px white;
        }
    }
    .detail{ margin-bottom: 10vh;  display: block;
        .left{  width: 100%;
            h2{ @include font(35px, 500);}
            ul{ width: 100%; @include flex( flex-start, flex-start); }
        }
        .right{ white-space: inherit; height: auto;
            width: 100%; 
            div:nth-of-type(2){ @include flex( center, space-between); margin-top: 3vh;
                a{ width: 45%; margin-right: 0; }
            }
        }
    }
    .row1{ margin: 80px auto; }
    .row2{ padding: 80px 0;
        .line2{
            flex-direction: column;
            .contit{ order: 2;
                width: 100%;
                padding: 30px 0 0 0;
            }
            > div{ order: 1;
                width: 100%;
            }
        }
        .line3{
            display: block;
            div{ width: 100%;}
            .contit{
                width: 100%;
                padding-top: 30px;
            }
        }
    }
    footer{
        width: 100%; height: 250px;
        a article{
            small{ @include font(18px, 300); }
            h2{ @include font(40px, 400);
                padding-bottom: 20px;
            }
            .timebar{ display: none; }
        }
    }
}
@media(max-width: $mobile){
    .start {
        width: 100%; height: 70vh;
        p{ width: 80%; height: 65vh; padding-top: 10vh; }
        figcaption{
            @include font(30px, 400);
            transform: translate(-50%,-20%);
            -webkit-text-stroke: 1px white;
        }
    }
    .detail{ margin-bottom: 10vh;  display: block;
        .left{  width: 100%;
            h2{ @include font(20px, 500);}
            small{ @include font(13px, 400);
                display: block; width: 100%;
                margin-left: 0;
            }
            ul{ 
                li{ @include font(11px, 300); }
                li:nth-of-type(1){ padding-right: 20px; }
                li:nth-of-type(2){
                    b{ @include font(11px, 300);}
                }
            }
        }
        .right{
            div:nth-of-type(1){  @include font(11px, 300); 
                b{ @include font(11px, 300);}
            }
            div:nth-of-type(2){ @include flex( center, space-between); margin-top: 3vh;
                a{ padding: 5px 0; width: 47%;
                    @include font(10px, 300);
                }
            }
        }
    }
    .contit{
        h2{@include font(15px, 600); }
        p{ @include font(10px, 300);
            b{ @include font(10px, 300); }
        } 
    }
    .row1{ margin: 40px auto; }
    .row2{ padding: 40px 0;
        .line1{
            div{border: 5px solid #f1f1f1;}
            .contit{
                padding-top: 20px;
                p{ padding-top: 10px;}
            }
        }
        .line2{
            padding-top: 60px;
            .contit{ 
                padding: 20px 0 0 0;
                p{ padding-top: 10px;}
            }
        }
        .line3{
            display: block;
            padding-top: 60px;
            div{ width: 100%;}
            .contit{
                width: 100%;
                padding-top: 20px;
                p{ padding-top: 10px;}
            }
        }
    }
    .row3{
        .contit{ width: 70%;
            p{ padding-top: 10px;}
        }
    }
    footer{ height: 150px;
        a article{
            small{ @include font(10px, 300); }
            h2{ @include font(25px, 400);
                padding-bottom: 0;
                white-space: nowrap;
            }
        }
    }
}